@charset "UTF-8";
/**
 * 
 * @authors 王朋朋 (wang760635994@outlook.com)
 * @date    2017-08-18 13:59:37
 * @version $Id$
 */
 input:-webkit-autofill, 
 textarea:-webkit-autofill, 
 select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
 input[type=text]:focus, input[type=password]:focus, textarea:focus {-webkit-box-shadow: 0 0 0 1000px white inset; }
html body{
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    font-family: 'PingFang SC','Helvetica Neue','Helvetica','Hiragino Sans GB','Microsoft YaHei','Arial','sans-serif';
}
 /*滚动条整体部分,必须要设置*/
        ::-webkit-scrollbar{
            width: 10px;
            height: 10px;
            background-color: #333;
        }
        /*滚动条的轨道*/
        ::-webkit-scrollbar-track{
            box-shadow: inset 0 0 5px rgba(0,0,0,.3);
            background-color: #fcfcfc;
        }
        /*滚动条的滑块按钮*/
        ::-webkit-scrollbar-thumb{
            background-color: rgb(193,193,193);
        }
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.map-bg{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 9;

}
.map-bar-filter {
    min-width: 1297px;
    height: 50px;
    line-height: 50px;
    z-index: 100;
    margin: 0 0 0 480px;
    background: #fff;
    padding: 10px 15px 10px 20px;
   border: 1px solid #ccc;
   border-left: none;
}
.map-bar-filter .filter-item{
    min-width: 150px;
    float: left;
    font-size: 13px;
    margin: 5px 12px 0 0;
}
.map-bar-filter .title{
    line-height: 27px;
    padding: 0 5px;
    color: #555;
    font-weight: bold;
}
.map-bar-filter .region-box{
    width: 100px;
    height: 24px;
    float: left;
    margin-left: 5px;
     position: relative;
}
.map-bar-filter .box-input{
    width: 100px;
    height: 24px;
    display: block;
    cursor: pointer;
    margin-top: 1px;
    padding-left: 8px;
     background: rgb(246,246,246);
    border:1px solid #d9d9d9;
    outline:none;/*去除蓝色边框*/
    color: #666;
}
.region-box:after{
    content:"▼";
    position: absolute;
    right: 5px;
    top: -11px;
    font-size: 12px;
    color: #666;
}
.map-bar-filter a{
    display: block;
    color: #555;
    text-decoration: none;
    outline: 0;
    line-height: 32px;
    padding-left: 13px;

}
.map-bar-filter a:hover,.moren{
    background: #fff;
    color: red;
}
.map-bar-filter .box-li{
    position: absolute;
    width: 100%;
    top:100%;
    background: rgb(246,246,246);
    border:1px solid #d9d9d9;
     border-top: none;
    display: none;
}

.map-bar-filter .box-li-x{
    position: absolute;
    width: 100%;
    height:578px;
    left: 100%;
    z-index: 10;
    overflow: auto;
    background: #fff;
    border-left: none;
}
.filter-but{
    min-width: 110px;
    float: left;
}
.but-a-rem{
    width: 100px;
    height: 24px;
    cursor: pointer;
    background: rgb(246,246,246);
    border: 1px solid #d9d9d9;
}
.but-a-rem:hover{
 opacity: 0.9;
}
.filter-but{
 line-height: 37px;
}
/*==*/
.map-index{
    width: 100%;
    position: relative;
}
.map-index .map-ul{
  width: 480px;
  height: 800px;
  float: left;
  position: absolute;
  background: #fff
  

}
.map-index .map-ifra{
  margin-left: 480px;
}

.map-ul .map-ultab{
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
     border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.map-shanxuan{
    border-top: none !important;
    padding-left: 0 !important;
    background: #f0f0f0;
}
.mapFind-list{
  width: 100%;
  height: 800px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ul-con{
    width: 100%;
}
.ul-con .clearfix{
    border-top: 0;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 28px;
    padding: 20px 0;
    color: #4b4b4b;
    border-bottom: 1px #e0e0e0 solid;
     transition: 0.5s;
    -webkit-transition: 0.5s; /* Safari */
}
.ul-con .clearfix:hover{
    background: #f0f0f0;
    z-index: 2;
    box-shadow: inset 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.34);
}
 .mapFind-list-img {
    width: 150px;
    height: 140px;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}
 .mapFind-list-img,.mapFind-list-img a{
    display: block;
 }
.mapFind-list-box {
    padding: 0 10px;
    width: 300px;
    float: right;
}
.mapFind-list-title{
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    line-height: 30px;
       
}
.mapFind-list-title a{
     color: #333;
}
.mapjiage{
    color: #20934e;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 1px;
}
.map-ultab-l{
    float: left;
    width: 60%;
    font-size: 14px;
    color: #333;
    padding-left: 20px;
    line-height: 50px;
}
.map-ultab{
    line-height: 45px;
    font-size: 14px;
    color: #333;
    padding-left: 30px;
}
.map-shanxuan .mapssxx{
    width: 40%;
    line-height: 50px;
    float: left;
}
.map-shanxuan .mapssxx span{
    display: inline-block;
    text-align: center;
    width: 90px;
    padding: 0 15px;
    margin: 0;
    cursor:pointer
}
.map-shanxuan .maprrr{
    width: 30%;
    line-height: 50px;
    float: right;
}
.map-moren{
    background: #fff;
}
.toogc{
    width: 20px;
    height: 70px;
    position: absolute;
    right: -20px;
    top: 284px;
    background: #fff;
    border: 1px solid #c1c1c1;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    color: #756363;
     cursor:pointer
}
.toogc:hover{
   background: #c1c1c1;
   color: #fff;
}
.toogcs{
   width: 20px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 284px;
    background: #fff;
    border: 1px solid #c1c1c1;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    color: #756363;
    cursor:pointer;
    display:none; 
}
.loding{
    text-align: center;
    display: block;
    font-size:18px;
    line-height: 1em;
    padding: 15px 0;
    color: #333;
}